
<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>GameZone</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />


    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet"> 

    <!-- Bootstrap core CSS -->
     <link href="css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
     <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
     <link href="/css/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
     <link href="css/responsive.css" rel="stylesheet">
    

    <!-- Colors for this template -->
     <link href="css/colors.css" rel="stylesheet">

    <!-- Version Garden CSS for this template -->
     <link href="css/version/garden.css" rel="stylesheet">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

        <div class="page-title wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-leaf bg-green"></i> Blog</h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Blog</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
                <br>
                <h2>Why is CS:GO so famous??</h2>
                <br>
                <img width="300" height="200" src="/images/csgo.png" alt="" class="img-fluid">
                <br>
                <p>[2020 RMR Stickers]
                    – Team Stickers featuring the best-performing regional teams from the 2020 Regional Major Ranking events are now available for purchase. 50% of the proceeds go to the teams who participated in the 2020 RMR.
                    
                    [GAMEPLAY]
                    – In Competitive and Wingman, if your team has fewer players than the opposing team for 3 or more consecutive rounds in the half, each of your team members will receive a $1000 ‘Shorthanded Loser Income’ following a round loss. This does not apply in cases where a player was kicked.
                    – In Competitive and Wingman, each team has one 2 minute technical timeout that will be automatically initiated the first time a teammate disconnects. The timeout will end early if the teammate abandons or reconnects to the match.
                    – Pinging now displays the name of the pinged location. (Thanks, VasaLavTV)
                    
                    [DANGER ZONE]
                    – Added client convar to control automatic parachute behavior. Set cl_parachute_autodeploy 0 to disable automatic parachute activation.</p>
            </div><!-- end container -->
        </div><!-- end page-title -->

        

    <hr class="invis1">

        <div class="custombox clearfix">
            <h4 class="small-title">3 Comments</h4>
            <div class="row">
                <div class="col-lg-12">
                    <div class="comments-list">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img src="upload/author.jpg" alt="" class="rounded-circle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading user_name">Hrutvik Desai <small>5 days ago</small></h4>
                                <p>def</p>
                                <a href="#" class="btn btn-primary btn-sm">Reply</a>
                            </div>
                        </div>
                        <div class="media">
                            <a class="media-left" href="#">
                                <img src="upload/author_01.jpg" alt="" class="rounded-circle">
                            </a>
                            <div class="media-body">

                                <h4 class="media-heading user_name">Vikram Bhavsar <small>5 days ago</small></h4>

                                <p>abc</p>

                                <a href="#" class="btn btn-primary btn-sm">Reply</a>
                            </div>
                        </div>
                        <div class="media last-child">
                            <a class="media-left" href="#">
                                <img src="upload/author_02.jpg" alt="" class="rounded-circle">
                            </a>
                            <div class="media-body">

                                <h4 class="media-heading user_name">Heet Savla<small>5 days ago</small></h4>
                                <p>ghi</p>
                                <a href="#" class="btn btn-primary btn-sm">Reply</a>
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end custom-box -->

        <hr class="invis1">

        <div class="custombox clearfix">
            <h4 class="small-title">Leave a Reply</h4>
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-wrapper">
                        <textarea class="form-control" id="your_comment"  placeholder="Your comment"></textarea>
                        <button type="submit"  class="btn btn-primary">Submit Comment</button>
                        <button type="button" onclick="spellCorrection()" class="btn btn-primary">Auto Correct</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" onclick="normal_call()" data-bs-target="#exampleModal">GIF</button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->

                                    <textarea id="searchGif_txtarea" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Search GIF"></textarea>
                                    <br><hr>
                                    <button type="button" class="btn btn-primary" onclick="grab_data()" >Search</button>
                                    
                                    </div>
                                    <div class="modal-body">
                                        <table >
                                            <tbody>
                                                <tr>
                                                    <td class="text-center"><img id="gif_img_0" width="200" class="img-responsive" src="https://unsplash.it/164/91"/></td>
                                                    <td class="text-center"><img id="gif_img_1" width="200" class="img-responsive" src="https://unsplash.it/164/91"/></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><img id="gif_img_2" width="200" class="img-responsive" src="https://unsplash.it/164/90"/></td>
                                                    <td class="text-center"><img id="gif_img_3" width="200" class="img-responsive" src="https://unsplash.it/164/91"/></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><img id="gif_img_4" width="200" class="img-responsive" src="https://unsplash.it/164/90"/></td>
                                                    <td class="text-center"><img id="gif_img_5" width="200" class="img-responsive" src="https://unsplash.it/164/91"/></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><img id="gif_img_6" width="200" class="img-responsive" src="https://unsplash.it/164/90"/></td>
                                                    <td class="text-center"><img id="gif_img_7" width="200" class="img-responsive" src="https://unsplash.it/164/91"/></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><img id="gif_img_8" width="200" class="img-responsive" src="https://unsplash.it/164/90"/></td>
                                                    <td class="text-center"><img id="gif_img_9" width="200" class="img-responsive" src="https://unsplash.it/164/91"/></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" onclick="grab_data()">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
        </div>
    </div>
</div><!-- end page-wrapper -->
</div><!-- end col -->


                    

    <!-- Core JavaScript
    ================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>

</body>

<script>

function getWordAt (str, pos) {

    // Perform type conversions.
    str = String(str);
    pos = Number(pos) >>> 0;

    // Search for the word's beginning and end.
    var left = str.slice(0, pos + 1).search(/\S+$/),
        right = str.slice(pos).search(/\s/);

    // The last word in the string is a special case.
    if (right < 0) {
        return str.slice(left);
    }

    // Return the word, using the located bounds to extract it from the string.
    return str.slice(left, right + pos);

}



function spellCorrection(){

    var string_value = document.getElementById("your_comment").value;

    console.log("The word at 0th position is" + getWordAt(string_value,0));
    console.log("The word at 0th position is" + getWordAt(string_value,7));

    const data = JSON.stringify({
	"language": "enUS",
	"fieldvalues": string_value,
	"config": {
		"forceUpperCase": false,
		"ignoreIrregularCaps": false,
		"ignoreFirstCaps": true,
		"ignoreNumbers": true,
		"ignoreUpper": false,
		"ignoreDouble": false,
		"ignoreWordsWithNumbers": true
       }
    });

    const xhr = new XMLHttpRequest();
    xhr.withCredentials = true;

    xhr.addEventListener("readystatechange", function () {
        if (this.readyState === this.DONE) {
            var obj = JSON.parse(this.responseText);
            
            
    for(i in obj.elements)
            {
                for(j in obj.elements[i].errors)
                {   
                    var position = obj.elements[i].errors[j].position;
                    var topSuggestion = obj.elements[i].errors[j].suggestions[0];
                    var curWord = getWordAt(string_value,position);
                    console.log("position of the error is: " + obj.elements[i].errors[j].position)
                    console.log("Type of value is " + typeof obj.elements[i].errors[j].position)
                    console.log("position of the error is: " + obj.elements[i].errors[j].suggestions[0])
                    
                    string_value = string_value.replace(curWord,topSuggestion)
                    //for(k in obj.elements[i].errors[j].suggestions)
                    //{
                    //    console.log(obj.elements[i].errors[j].suggestions[k]);
                    //}
                }
            }
            console.log(this.responseText);
        }


        // Setting the final value:
        document.getElementById("your_comment").value = string_value;
    });

    xhr.open("POST", "https://jspell-checker.p.rapidapi.com/check");
    xhr.setRequestHeader("content-type", "application/json");
    xhr.setRequestHeader("x-rapidapi-key", "fdef36f836msh9720063cbbf0d45p10169cjsn99ab424a595c");
    xhr.setRequestHeader("x-rapidapi-host", "jspell-checker.p.rapidapi.com");

    xhr.send(data);

}

    // url Async requesting function-
function httpGetAsync(theUrl, callback)
{
    // create the request object
    var xmlHttp = new XMLHttpRequest();

    // set the state change callback to capture when the response comes in
    xmlHttp.onreadystatechange = function()
    {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
        {
            callback(xmlHttp.responseText);
        }
    }

    // open as a GET call, pass in the url and set async = True
    xmlHttp.open("GET", theUrl, true);

    // call send with no params as they were passed in on the url string
    xmlHttp.send(null);

    return;
}

// callback for the top 8 GIFs of search
function tenorCallback_search(responsetext)
{
    // parse the json response
    var response_objects = JSON.parse(responsetext);

    top_10_gifs = response_objects["results"];

    // load the GIFs -- for our example we will load the first GIFs preview size (nanogif) and share size (tinygif)
    var i = 0;
    for (i = 0; i < top_10_gifs.length; i++) {
        
        var img_name = "gif_img_" + i;
        console.log(img_name)
       document.getElementById("gif_img_" + i).src = top_10_gifs[i]["media"][0]["nanogif"]["url"];
    }


    //document.getElementById("gif_img_1").src = top_10_gifs[0]["media"][0]["nanogif"]["url"];

    //var val = 2;

    //document.getElementById("preview_gif").src = top_10_gifs[val]["media"][0]["nanogif"]["url"];

    //var val = 3;
    //document.getElementById("share_gif").src = top_10_gifs[val]["media"][0]["tinygif"]["url"]; 

    return;

}

// function to call the trending and category endpoints
function grab_data()
{
    // set the apikey and limit
    var apikey = "LIVDSRZULELA";
    var lmt = 8;

    // test search term
    var search_term = document.getElementById("searchGif_txtarea").value;
    console.log(search_term)

    // using default locale of en_US
    var search_url = "https://api.tenor.com/v1/search?q=" + search_term + "&key=" +
            apikey + "&limit=" + lmt;

    httpGetAsync(search_url,tenorCallback_search);

    // data will be loaded by each call's callback
    return;
}

function normal_call()
{
    // set the apikey and limit
    var apikey = "LIVDSRZULELA";
    var lmt = 8;

    // test search term
    var search_term = "";
    console.log(search_term)

    // using default locale of en_US
    var search_url = "https://api.tenor.com/v1/search?q=" + search_term + "&key=" +
            apikey + "&limit=" + lmt;

    httpGetAsync(search_url,tenorCallback_search);

    // data will be loaded by each call's callback
    return;
}

</script>
</html>